.global/custom.yml
/certificates
/databases
!/databases/readme.md
/logs/mysql
!/logs/mysql/.gitkeep
/logs/nginx/*
/logs/php
/sites/*
!/sites/readme.md
/app/provision/resources
.DS_Store
/config/.DS_Store
node_modules
