.global/docker-custom.yml
/certificates
/config/nginx/*
/database
!/database/readme.md
/sites/*
!/sites/readme.md
/provision/resources
/config/docker-custom.yml
.DS_Store
/config/.DS_Store
node_modules