/config/nginx/*
!/config/nginx/nginx.tmpl

/certificates/*
!/certificates/.gitkeep

/sites/*
!/sites/.gitkeep

/provision/resources

/config/docker-custom.yml

docker-compose.yml

.DS_Store
/config/.DS_Store